body {
  border: 2px;
  border-color: black;
  border-style: solid;
}

.containerWing {
  display: inline-block;
  border: 2px;
  border-color: blue;
  border-style: solid;
  height: 600px;
  width: 300px;
  margin: 20px;
}

.containerLeft {
  display: inline-block;
  border: 2px;
  border-color: yellow;
  border-style: solid;
}

.containerCentre {
  display: inline-block;
  vertical-align: top;
  border: 2px;
  border-color: green;
  border-style: solid;
  height: 600px;
  width: 500px;
  margin: 20px;
}

.board {
  display: inline-block;
  margin: 30px;
}

.row {
  border: 2px;
  border-color: red;
  border-style: solid;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 48px;
}

.containerRight {
  display: inline-block;
  border: 2px;
  border-color: pink;
  border-style: solid;
}
