body {
  background-color: black;
  border: 0px;
  border-color: black;
  border-style: solid;
}

.containerMain'{
  margin:auto;
}
.containerWing {
  display: inline-block;
  vertical-align: top;
  border: 0px;
  border-color: blue;
  border-style: solid;
  height: 600px;
  width: 300px;
  margin: 10px;
}

.containerLeft {
  /* div to display player X information on left of game board */
  display: inline-block;
  vertical-align: top;
  border: 0px;
  border-color: yellow;
  border-style: solid;
  width: 300px;
  height: 400px;
}

.containerCentre {
  /* div to display board and game information between player panes */
  display: inline-block;
  vertical-align: top;
  background-color: black;
  border: 0px;
  border-color: green;
  border-style: solid;
  height: 600px;
  width: 500px;
  margin: 20px;
}

.board {
/* container to display single column of game moves on game board */
  display: inline-block;
  background-color: black;
  vertical-align: top;
  margin: 10px;
}

.row {
  /* divs to display game moves on game board */
  border-radius: 10px;
  border: 3px solid #BADA55;
  background-color: #de3812;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 80px;
  color: yellow;
  margin-left: 10px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.containerRight {
  /* div to display player O information on right of game board */
  display: inline-block;
  vertical-align: top;
  border: 0px;
  border-color: pink;
  border-style: solid;
  height: 400px;
  width: 300px;
}
.playerImage {
/*  max-height: 300px;
  background-size: 100% 100%;*/
}
#gameTitle {
  
}
#resetGame {
  /*div - click to reset the game */
  margin-left: 70%;
  border-radius: 5px;
  border: 0px solid #BADA55;
/*  background-color: black;*/
}
#PlayerXlabel {
  /* div to display player name label under player O Image */
  margin-left: 10%;
  font-size: 48px;
  font-style: impact;
  color: yellow;
  background-size: 100% 100%;

}
#PlayerOlabel {
  /* div to display player name label under player X Image */
  margin-left: 25%;
  font-size: 48px;
  font-style: impact;
  color: yellow;
}

#playerXlblImg {
/* div to display player ID image of player X */
  margin-left: 0%;
  color: yellow;
}
#playerOlblImg {
/* div to display player ID image of player O */
  margin-left: 0%;
  color: yellow;
}

#playerX {
/* div to display feedback information to player X */
  margin-left: 40%;
  color: yellow;
}
#playerO {
/* div to display feedback information to player O */
  margin-left: 40%;
  color: yellow;
}

