body {
  background-color: black;
  border: 0px;
  border-color: white;
  border-style: solid;
}

.containerMain{
  border: 0px;
  border-style: solid;
  border-color: yellow;
  margin:3% auto;
  width:90%;
}
.containerWing {
  display: inline-block;
  vertical-align: top;
  border: 0px;
  border-color: blue;
  border-style: solid;
  height: 600px;
  width: 360px;
}

.containerLeft {
  /* div to display player X information on left of game board */
  display: inline-block;
  vertical-align: top;
  border: 0px;
  border-color: yellow;
  border-style: solid;
  width: 300px;
  height: 400px;
}

.containerCentre {
  /* div to display board and game information between player panes */
  display: inline-block;
  vertical-align: top;
  background-color: black;
  border: 0px;
  border-color: pink;
  border-style: solid;
  height: 600px;
  width: 500px;
  margin: 20px;
}

.board {
/* container to display single column of game moves on game board */
  display: inline-block;
  background-color: black;
  vertical-align: top;
  margin: 10px;
}

.row {
  /* divs to display game moves on game board */
  border-radius: 10px;
  border: 3px solid #BADA55;
  background-color: #de3812;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 80px;
  color: yellow;
  margin-left: 10px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.containerRight {
  /* div to display player O information on right of game board */
  display: inline-block;
  vertical-align: top;
  border: 0px;
  border-color: pink;
  border-style: solid;
  height: 400px;
  width: 300px;
}
.playerImage {
  margin-left: 10%;
}
#gameTitle {
  
}
#resetGame {
  /*div - click to reset the game */
  margin-left: 70%;
  border-radius: 5px;
  border: 0px solid #BADA55;
/*trying stuff out here*/
  background-repeat:no-repeat;
  background-image: url(../imagefiles/trans-reset.png);
  background-size: 100% 100%;
  height:50px;
  width:150px;
/*end of trying stuff out*/
}
#gameInfo {
  margin-left: 20%;
  color: yellow;
  font-size: 56px;
}


#PlayerXlabel {
  /* div to display player name label under player O Image */
  margin-left: 30%;
  font-size: 28px;
/*  font-family: impact;*/
  color: yellow;
/*  background-size: 100% 100%;*/

}
#PlayerOlabel {
  /* div to display player name label under player X Image */
  margin-left: 30%;
  font-size: 28px;
/*  font-family: impact;*/
  color: yellow;
}

#playerXlblImg {
/* div to display player ID image of player X */
  margin-left: 0%;
  color: yellow;
}
#playerOlblImg {
/* div to display player ID image of player O */
  margin-left: 0%;
  color: yellow;
}

#playerX img {
/* div to display feedback information to player X */
  margin-left:60px;
  margin-top:20px;
  background-repeat:no-repeat;
/*  background-image: url(../imagefiles/trans-reset.png);*/
  background-size: 100% 100%;
  background-color: white;
  border-radius: 7px;
  border: 2px solid #BADA55;
  height:200px;
  width:200px;
}
#playerO img {
/* div to display feedback information to player O */
  margin-left:60px;
  margin-top:20px;
  background-repeat:no-repeat;
/*  background-image: url(../imagefiles/trans-reset.png);*/
  background-size: 100% 100%;
  background-color: white;
  border-radius: 7px;
  border: 2px solid #BADA55;
  height:200px;
  width:200px;
}

